@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(TempData["status"] is not null)
{
    <div class="alert alert-success" role="alert">@TempData["status"]</div>
}

<form method="post" class="form">
    <input class="form-control" asp-for="Message"/>
    <button class="btn btn-primary"> Send</button>
</form>